html {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

img {
	width:100%;
}

body {
	font-family: 'Dosis', sans-serif;
	margin: 0em;
	padding: 0em;
}

h1 {
	padding: 0.8em;
	margin: 0em;
}

h2 {
	font-size: 1em;
}

.left-bug {
	width: 30px;
	float: left;
	padding-top: 30px;
	margin-left: 15px;
}

.right-bug {
	width: 30px;
	float: right;
	padding-top: 30px;
	margin-right: 15px;
}

header {
	background-image: url("../images/header-texture.png");
	background-size: 75px auto;
	margin: 0em;
	text-align: center;
	color: #512200;
	font-weight: bold;
}


ol {
	list-style: none;
	padding: 1em 1em;
	margin: 0em;
	color: white;
	background: #512200;
	opacity: 0.5;
}

ol li {
	display: block;
	float: left;
	width: 25%;
}

ol a{
	margin: 0em;
	color: white;
	text-decoration: none;
}

ol:hover {
	background: #512200;
	opacity: 0.5;
}



.billboard {
	background-image: url("../images/billboard.jpg");
	background-size: 100% auto;
	background-position: center;
	color: white;
	padding: 3em 0em;
	text-align: center;
}


.button {
	border-radius: 20px;
	color: white;
	padding: 0.5em;
	background-image: linear-gradient(to bottom, #6fc000, #388200);
	display: inline block;
	text-align: center;
	box-shadow: 5px 2px 2px #888888;
}

.button:hover {
	background-image: linear-gradient(to bottom, #6fc000, #214d00);
}


footer  {
	background-color: #a79082;
	padding: 2em;
}

footer img {
	text-align: center;
	display: inline-block;
	width: 25px;
}
