html {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

img {
	width:100%;
}

body {
	font-family: 'Dosis', sans-serif;
	margin: 0em;
	padding: 0em;
}

h1 {
	padding: 0.8em;
	margin: 0em;
}

header {
	background-image: url("../images/header-texture.png");
	background-size: 75px auto;
	margin: 0em;
	text-align: center;
	color: #512200;
	font-weight: bold;
}


ol {
	list-style: none;
	overflow: hidden;
	padding: 0em;
	margin: 0em;
	background: rgba(81, 34, 0, 0.5);
}

ol li {
	margin: 0em;
	float: left;
	padding: 0.5em;
	width: 25%;
	text-align: center;
}

ol a{
	margin: 0em;
	color: white;
	text-decoration: none;
}

ol li:hover {
	background: rgba(81, 34, 0, 0.5);
}


.billboard {
	background-image: url("../images/billboard.jpg");
	background-size: 100% auto;
	background-position: center;
	color: white;
}

.billboard p {
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
	padding-top: 7em;
	padding-bottom: 1em;
	width: 100%;
	font-weight: bold;
	text-align: center;
	margin: 0em;
}

.right-image {
	margin: 0em;
	float: right;
	width: 50%;
}

.left-image {
	margin: 0em;
	float: left;
	width: 50%;
}

.box {
	position: relative;
	float: left;
	width: 50%;
}

.box img {
	display: block;
}

.button {
	border-radius: 20px;
	color: white;
	padding: 0.5em;
	background-image: linear-gradient(to bottom, #6fc000, #388200);
	display: inline-block;
	left: 20%;
	width: 60%;
	bottom: 1.5em;
	text-align: center;
	box-shadow: 5px 2px 2px #000;
	position: absolute;
}

.button:hover {
	background-image: linear-gradient(to bottom, #6fc000, #214d00);
}


footer  {
	background-color: rgba(81, 34, 0, 0.5);
	padding: 0.5em;
	clear: both;
	text-align: center;
}

footer img {
	width: 20px;
	display: inline-block;
}
